/* Color styles */
.s01-rgba {
  --s01---blue--100: rgba(234, 244, 250, 1);
  --s01---blue--200: rgba(193, 223, 241, 1);
  --s01---blue--300: rgba(151, 202, 231, 1);
  --s01---blue--400: rgba(109, 181, 222, 1);
  --s01---blue--500: rgba(68, 160, 213, 1);
  --s01---blue--600: rgba(42, 135, 187, 1);
  --s01---blue--700: rgba(33, 105, 146, 1);
  --s01---blue--800: rgba(24, 75, 104, 1);
  --s01---blue--900: rgba(14, 45, 62, 1);
  --s01---brown--100: rgba(246, 244, 238, 1);
  --s01---brown--200: rgba(229, 221, 205, 1);
  --s01---brown--300: rgba(211, 198, 171, 1);
  --s01---brown--400: rgba(193, 175, 138, 1);
  --s01---brown--500: rgba(176, 153, 105, 1);
  --s01---brown--600: rgba(150, 127, 79, 1);
  --s01---brown--700: rgba(117, 99, 62, 1);
  --s01---brown--800: rgba(84, 71, 44, 1);
  --s01---brown--900: rgba(50, 42, 26, 1);
  --s01---cyan--100: rgba(229, 255, 250, 1);
  --s01---cyan--200: rgba(179, 255, 241, 1);
  --s01---cyan--300: rgba(128, 255, 232, 1);
  --s01---cyan--400: rgba(76, 255, 222, 1);
  --s01---cyan--500: rgba(26, 255, 213, 1);
  --s01---cyan--600: rgba(0, 229, 188, 1);
  --s01---cyan--700: rgba(0, 181, 148, 1);
  --s01---cyan--800: rgba(0, 128, 104, 1);
  --s01---cyan--900: rgba(0, 77, 63, 1);
  --s01---green--100: rgba(246, 251, 234, 1);
  --s01---green--200: rgba(229, 242, 191, 1);
  --s01---green--300: rgba(211, 234, 149, 1);
  --s01---green--400: rgba(194, 225, 106, 1);
  --s01---green--500: rgba(176, 217, 63, 1);
  --s01---green--600: rgba(151, 192, 38, 1);
  --s01---green--700: rgba(117, 149, 30, 1);
  --s01---green--800: rgba(84, 106, 21, 1);
  --s01---green--900: rgba(50, 64, 13, 1);
  --s01---grey--100: rgba(243, 242, 241, 1);
  --s01---grey--200: rgba(219, 217, 214, 1);
  --s01---grey--300: rgba(196, 192, 187, 1);
  --s01---grey--400: rgba(172, 167, 160, 1);
  --s01---grey--500: rgba(148, 142, 132, 1);
  --s01---grey--600: rgba(123, 117, 107, 1);
  --s01---grey--700: rgba(95, 91, 83, 1);
  --s01---grey--800: rgba(68, 65, 59, 1);
  --s01---grey--900: rgba(41, 39, 36, 1);
  --s01---magenta--100: rgba(253, 231, 237, 1);
  --s01---magenta--200: rgba(250, 184, 200, 1);
  --s01---magenta--300: rgba(246, 136, 163, 1);
  --s01---magenta--400: rgba(243, 89, 127, 1);
  --s01---magenta--500: rgba(239, 41, 90, 1);
  --s01---magenta--600: rgba(214, 16, 64, 1);
  --s01---magenta--700: rgba(166, 12, 50, 1);
  --s01---magenta--800: rgba(119, 9, 36, 1);
  --s01---magenta--900: rgba(71, 5, 21, 1);
  --s01---orange--100: rgba(254, 242, 230, 1);
  --s01---orange--200: rgba(252, 217, 181, 1);
  --s01---orange--300: rgba(251, 192, 132, 1);
  --s01---orange--400: rgba(249, 166, 80, 1);
  --s01---orange--500: rgba(247, 142, 33, 1);
  --s01---orange--600: rgba(222, 117, 8, 1);
  --s01---orange--700: rgba(173, 91, 6, 1);
  --s01---orange--800: rgba(123, 65, 4, 1);
  --s01---orange--900: rgba(74, 39, 3, 1);
  --s01---red--100: rgba(254, 238, 231, 1);
  --s01---red--200: rgba(251, 205, 182, 1);
  --s01---red--300: rgba(248, 171, 134, 1);
  --s01---red--400: rgba(246, 138, 86, 1);
  --s01---red--500: rgba(243, 104, 37, 1);
  --s01---red--600: rgba(218, 79, 12, 1);
  --s01---red--700: rgba(169, 61, 9, 1);
  --s01---red--800: rgba(121, 44, 7, 1);
  --s01---red--900: rgba(73, 26, 4, 1);
  --s01---yellow--100: rgba(255, 248, 229, 1);
  --s01---yellow--200: rgba(255, 234, 179, 1);
  --s01---yellow--300: rgba(255, 220, 128, 1);
  --s01---yellow--400: rgba(255, 206, 76, 1);
  --s01---yellow--500: rgba(255, 192, 26, 1);
  --s01---yellow--600: rgba(229, 167, 0, 1);
  --s01---yellow--700: rgba(178, 130, 0, 1);
  --s01---yellow--800: rgba(128, 93, 0, 1);
  --s01---yellow--900: rgba(77, 56, 0, 1);
}

.s01-hex {
  --s01---blue--100: #EAF4FA;
  --s01---blue--200: #C1DFF1;
  --s01---blue--300: #97CAE7;
  --s01---blue--400: #6DB5DE;
  --s01---blue--500: #44A0D5;
  --s01---blue--600: #2A87BB;
  --s01---blue--700: #216992;
  --s01---blue--800: #184B68;
  --s01---blue--900: #0E2D3E;
  --s01---brown--100: #F6F4EE;
  --s01---brown--200: #E5DDCD;
  --s01---brown--300: #D3C6AB;
  --s01---brown--400: #C1AF8A;
  --s01---brown--500: #B09969;
  --s01---brown--600: #967F4F;
  --s01---brown--700: #75633E;
  --s01---brown--800: #54472C;
  --s01---brown--900: #322A1A;
  --s01---cyan--100: #E5FFFA;
  --s01---cyan--200: #B3FFF1;
  --s01---cyan--300: #80FFE8;
  --s01---cyan--400: #4CFFDE;
  --s01---cyan--500: #1AFFD5;
  --s01---cyan--600: #00E5BC;
  --s01---cyan--700: #00B594;
  --s01---cyan--800: #008068;
  --s01---cyan--900: #004D3F;
  --s01---green--100: #F6FBEA;
  --s01---green--200: #E5F2BF;
  --s01---green--300: #D3EA95;
  --s01---green--400: #C2E16A;
  --s01---green--500: #B0D93F;
  --s01---green--600: #97C026;
  --s01---green--700: #75951E;
  --s01---green--800: #546A15;
  --s01---green--900: #32400D;
  --s01---grey--100: #F3F2F1;
  --s01---grey--200: #DBD9D6;
  --s01---grey--300: #C4C0BB;
  --s01---grey--400: #ACA7A0;
  --s01---grey--500: #948E84;
  --s01---grey--600: #7B756B;
  --s01---grey--700: #5F5B53;
  --s01---grey--800: #44413B;
  --s01---grey--900: #292724;
  --s01---magenta--100: #FDE7ED;
  --s01---magenta--200: #FAB8C8;
  --s01---magenta--300: #F688A3;
  --s01---magenta--400: #F3597F;
  --s01---magenta--500: #EF295A;
  --s01---magenta--600: #D61040;
  --s01---magenta--700: #A60C32;
  --s01---magenta--800: #770924;
  --s01---magenta--900: #470515;
  --s01---orange--100: #FEF2E6;
  --s01---orange--200: #FCD9B5;
  --s01---orange--300: #FBC084;
  --s01---orange--400: #F9A650;
  --s01---orange--500: #F78E21;
  --s01---orange--600: #DE7508;
  --s01---orange--700: #AD5B06;
  --s01---orange--800: #7B4104;
  --s01---orange--900: #4A2703;
  --s01---red--100: #FEEEE7;
  --s01---red--200: #FBCDB6;
  --s01---red--300: #F8AB86;
  --s01---red--400: #F68A56;
  --s01---red--500: #F36825;
  --s01---red--600: #DA4F0C;
  --s01---red--700: #A93D09;
  --s01---red--800: #792C07;
  --s01---red--900: #491A04;
  --s01---yellow--100: #FFF8E5;
  --s01---yellow--200: #FFEAB3;
  --s01---yellow--300: #FFDC80;
  --s01---yellow--400: #FFCE4C;
  --s01---yellow--500: #FFC01A;
  --s01---yellow--600: #E5A700;
  --s01---yellow--700: #B28200;
  --s01---yellow--800: #805D00;
  --s01---yellow--900: #4D3800;
}

.s01-hsla {
  --s01---blue--100: hsla(202, 61.5%, 94.9%, 1);
  --s01---blue--200: hsla(203, 63.2%, 85.1%, 1);
  --s01---blue--300: hsla(202, 62.5%, 74.9%, 1);
  --s01---blue--400: hsla(202, 63.1%, 64.9%, 1);
  --s01---blue--500: hsla(202, 63.3%, 55.1%, 1);
  --s01---blue--600: hsla(202, 63.3%, 44.9%, 1);
  --s01---blue--700: hsla(202, 63.1%, 35.1%, 1);
  --s01---blue--800: hsla(202, 62.5%, 25.1%, 1);
  --s01---blue--900: hsla(201, 63.2%, 14.9%, 1);
  --s01---brown--100: hsla(45, 30.8%, 94.9%, 1);
  --s01---brown--200: hsla(40, 31.6%, 85.1%, 1);
  --s01---brown--300: hsla(41, 31.2%, 74.9%, 1);
  --s01---brown--400: hsla(40, 30.7%, 64.9%, 1);
  --s01---brown--500: hsla(41, 31%, 55.1%, 1);
  --s01---brown--600: hsla(41, 31%, 44.9%, 1);
  --s01---brown--700: hsla(40, 30.7%, 35.1%, 1);
  --s01---brown--800: hsla(41, 31.2%, 25.1%, 1);
  --s01---brown--900: hsla(40, 31.6%, 14.9%, 1);
  --s01---cyan--100: hsla(168, 100%, 94.9%, 1);
  --s01---cyan--200: hsla(169, 100%, 85.1%, 1);
  --s01---cyan--300: hsla(169, 100%, 75.1%, 1);
  --s01---cyan--400: hsla(169, 100%, 64.9%, 1);
  --s01---cyan--500: hsla(169, 100%, 55.1%, 1);
  --s01---cyan--600: hsla(169, 100%, 44.9%, 1);
  --s01---cyan--700: hsla(169, 100%, 35.5%, 1);
  --s01---cyan--800: hsla(169, 100%, 25.1%, 1);
  --s01---cyan--900: hsla(169, 100%, 15.1%, 1);
  --s01---green--100: hsla(78, 68%, 95.1%, 1);
  --s01---green--200: hsla(75, 66.2%, 84.9%, 1);
  --s01---green--300: hsla(76, 66.9%, 75.1%, 1);
  --s01---green--400: hsla(76, 66.5%, 64.9%, 1);
  --s01---green--500: hsla(76, 67%, 54.9%, 1);
  --s01---green--600: hsla(76, 67%, 45.1%, 1);
  --s01---green--700: hsla(76, 66.5%, 35.1%, 1);
  --s01---green--800: hsla(76, 66.9%, 24.9%, 1);
  --s01---green--900: hsla(76, 66.2%, 15.1%, 1);
  --s01---grey--100: hsla(30, 7.7%, 94.9%, 1);
  --s01---grey--200: hsla(36, 6.5%, 84.9%, 1);
  --s01---grey--300: hsla(33, 7.1%, 75.1%, 1);
  --s01---grey--400: hsla(35, 6.7%, 65.1%, 1);
  --s01---grey--500: hsla(37, 7%, 54.9%, 1);
  --s01---grey--600: hsla(37, 7%, 45.1%, 1);
  --s01---grey--700: hsla(40, 6.7%, 34.9%, 1);
  --s01---grey--800: hsla(40, 7.1%, 24.9%, 1);
  --s01---grey--900: hsla(36, 6.5%, 15.1%, 1);
  --s01---magenta--100: hsla(344, 84.6%, 94.9%, 1);
  --s01---magenta--200: hsla(345, 86.8%, 85.1%, 1);
  --s01---magenta--300: hsla(345, 85.9%, 74.9%, 1);
  --s01---magenta--400: hsla(345, 86.5%, 65.1%, 1);
  --s01---magenta--500: hsla(345, 86.1%, 54.9%, 1);
  --s01---magenta--600: hsla(345, 86.1%, 45.1%, 1);
  --s01---magenta--700: hsla(345, 86.5%, 34.9%, 1);
  --s01---magenta--800: hsla(345, 85.9%, 25.1%, 1);
  --s01---magenta--900: hsla(345, 86.8%, 14.9%, 1);
  --s01---orange--100: hsla(30, 92.3%, 94.9%, 1);
  --s01---orange--200: hsla(30, 92.2%, 84.9%, 1);
  --s01---orange--300: hsla(30, 93.7%, 75.1%, 1);
  --s01---orange--400: hsla(31, 93.4%, 64.5%, 1);
  --s01---orange--500: hsla(31, 93%, 54.9%, 1);
  --s01---orange--600: hsla(31, 93%, 45.1%, 1);
  --s01---orange--700: hsla(31, 93.3%, 35.1%, 1);
  --s01---orange--800: hsla(31, 93.7%, 24.9%, 1);
  --s01---orange--900: hsla(30, 92.2%, 15.1%, 1);
  --s01---red--100: hsla(18, 92%, 95.1%, 1);
  --s01---red--200: hsla(20, 89.6%, 84.9%, 1);
  --s01---red--300: hsla(19, 89.1%, 74.9%, 1);
  --s01---red--400: hsla(19, 89.9%, 65.1%, 1);
  --s01---red--500: hsla(20, 89.6%, 54.9%, 1);
  --s01---red--600: hsla(20, 89.6%, 45.1%, 1);
  --s01---red--700: hsla(20, 89.9%, 34.9%, 1);
  --s01---red--800: hsla(19, 89.1%, 25.1%, 1);
  --s01---red--900: hsla(19, 89.6%, 15.1%, 1);
  --s01---yellow--100: hsla(44, 100%, 94.9%, 1);
  --s01---yellow--200: hsla(43, 100%, 85.1%, 1);
  --s01---yellow--300: hsla(43, 100%, 75.1%, 1);
  --s01---yellow--400: hsla(44, 100%, 64.9%, 1);
  --s01---yellow--500: hsla(43, 100%, 55.1%, 1);
  --s01---yellow--600: hsla(44, 100%, 44.9%, 1);
  --s01---yellow--700: hsla(44, 100%, 34.9%, 1);
  --s01---yellow--800: hsla(44, 100%, 25.1%, 1);
  --s01---yellow--900: hsla(44, 100%, 15.1%, 1);
}
